.home__products-title {
	font-size: 2.6rem;
	font-weight: 400;
	color: #000;
	text-align: center;
	padding-bottom: 30px;
}

.product {
	&-item {
		text-align: center;
		margin-bottom: 30px;

		& > a {
			display: block;

			@media (max-width: 576px) {
				height: 210px;
			}

			@media (min-width: 576px) {
				height: 210px;
			}

			@media (min-width: 768px) {
				height: 226px;
			}

			@media (min-width: 992px) {
				height: 290px;
			}

			@media (min-width: 1120px) {
				height: 343.33px;
			}

			& > img {
				height: 100%;
			}
		}

		&__description {
			padding: 12px 0 8px;
			text-align: center;
		}

		&__category {
			display: inline-block;
			text-transform: uppercase;
			font-weight: 700;
			color: #000;
			font-size: 0.7rem;
			text-align: center;
			margin-bottom: 4px;

			&:hover {
				text-decoration: none;
				color: #000;
			}
		}

		&__name {
			text-transform: capitalize;
			font-size: 1rem;
			font-weight: 400;
			color: #000;
			line-height: 1.3rem;
			margin-bottom: 16px;
		}

		&__price {
			font-size: 0.9rem;
			color: #000;
			font-weight: 400;
		}
	}
}

.sold-out {
	font-size: 0.9rem;
	margin-top: 4px;
	color: #000;
	font-weight: 400;
}
