@import '../variables';

.radio-wrapper .between {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.light {
		color: #545454;
		font-weight: normal;
	}

	.ship-price {
		color: #333;
		font-weight: 700;
	}
}

.shipping__loading-wrapper {
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid $border-color;
	padding: 20px 14px 14px;
	color: #545454;
	text-align: center;

	& > span {
		margin: 0 auto;
		display: block;
		margin-bottom: 16px;
	}
}
