#scroll {
	position: absolute;
	bottom: 0;
	transition: all 0.2s ease;
}

.hero {
	position: relative;
	left: 0;
	right: 0;
	height: 67vh;
	overflow: hidden;

	&__wrapper {
		background-image: url('../../assets/img/homepage_hero_image.jpg');
		background-position: center top 40%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: absolute;
		top: 30%;
		z-index: 1;

		& > p {
			color: #fff;
			font-size: 2.6rem;
			letter-spacing: 2px;
			font-weight: 400;
			margin-bottom: 4px;
		}

		& > a {
			color: #fff;
			text-decoration: underline;
			font-size: 1.8rem;
			font-weight: 400;
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.15;
	}
}

.scroll-icon {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);

	& > a {
		--size: 46px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 1.3rem;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		background-color: rgba(172, 172, 172, 0.5);
		transition: all 0.15s linear;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: var(--size);
			height: var(--size);
			border: 2px solid #fff;
			border-radius: 50%;
			transition: all 0.15s linear;
			visibility: hidden;
		}

		&:hover {
			color: #000;
			background-color: #fff;
			&:after {
				visibility: visible;
				transform: scale3d(1.5, 1.5, 1.5);
			}
		}
	}
}

.home__products {
	margin-top: 30px;
}
