@import '../main';

.checkout-field {
	@include checkoutField("input[type='text']");
	position: relative;
	width: 100%;

	&.floating {
		& > input {
			padding-top: 1.3em;
			padding-bottom: 0.4em;
		}
	}

	&--error {
		display: none;
	}

	&.error {
		& > input,
		& > input:focus {
			border-color: #ff89bd;
			box-shadow: 0 0 0 1px #ff89bd;
		}

		.checkout-field--error {
			display: block;
			color: #ff89bd;
			font-size: 1em;
			margin-top: 4px;
		}
	}

	& > label {
		position: absolute;
		padding-left: 0.74em;
		left: 5px;
		right: 0;
		margin: 0;
		transition: all 0.2s ease-out;
		font-size: 1em;
		cursor: default;
		pointer-events: none;
		z-index: 1;
		opacity: 1;
		transform: translate(0, 1em) scale(1);
		transform-origin: top left;
		transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
		color: #737373;

		&.floating {
			transform: translate(0, 0.4em) scale(0.8);
		}
	}
}
