$checkout-primary: #e9d2d2;
@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/lato_n4.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/lato_n7.woff2') format('woff2');
	font-weight: 700;
}

.checkout {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color: $checkout-primary;
	min-height: 70vh;
	overflow: hidden;
}

//CONTENT
.checkout__content {
	display: flex;
	flex-direction: column-reverse;

	@media (min-width: 992px) {
		& {
			flex-direction: row;
			max-width: 1100px;
			margin: 0 auto;
		}

		& > :first-child {
			max-width: 52%;
			flex: 1 0 52%;
			margin-right: 6%;
		}

		& > :last-child {
			max-width: 42%;
			flex: 1 0 42%;
			padding-left: 4%;
		}
	}
}

.checkout__main {
	padding: 2em 0;
}

.order__expand {
	overflow: hidden;
	height: auto;
	transition: height 0.2s ease-out;
}

.wrap {
	display: block;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
	max-width: 40em;

	@media (min-width: 992px) {
		max-width: 1100px;
		width: 100%;
	}
}

.checkout-section {
	margin-top: 1.6em;
	padding-top: 1.6em;
	border-top: 1px solid #d8d8d8;
}

.section-info {
	margin-top: 2.4em;

	&__heading {
		color: #303b2b;
		font-size: 1.2857142857em;
		line-height: 1.3em;
		margin-bottom: 1em;
		font-weight: 400;
	}

	&__text {
		color: #303b2b;
		font-size: 1em;
		text-decoration: none;

		&:hover {
			color: #303b2b;
			text-decoration: none;
		}

		&--bold {
			font-weight: 600;
		}
	}
}

.checkout-field {
	position: relative;
	width: 100%;

	& > label {
		position: absolute;
		padding-left: 0.74em;
		left: 5px;
		right: 0;
		margin: 0;
		transition: all 0.2s ease-out;
		font-size: 1em;
		cursor: default;
		pointer-events: none;
		z-index: 1;
		opacity: 1;
		transform: translate(0, 1em) scale(1);
		transform-origin: top left;
		transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
		color: #737373;

		&.floating {
			transform: translate(0, 0.4em) scale(0.8);
		}
	}
}

.radio-content {
	border-radius: 8px;
	overflow: hidden;
}

.radio-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #fff;
	padding: 0.9em;

	&:first-child {
		border-bottom: 1px solid #d8d8d8;
	}

	& > label {
		margin-bottom: 0;
		margin-left: 1em;
		color: #545454;
		width: 100%;
		user-select: none;

		& > span {
			vertical-align: top;
			margin-left: 0.5em;
			font-size: 1em;
		}
	}

	& > input[type='radio'] {
		appearance: none;
		display: inline-block;
		width: 18px;
		min-width: 18px;
		height: 18px;
		padding: 2px;
		/* background-color only for content */
		background-clip: border-box;
		border: 1px solid #bbbbbb;
		background-color: transparent;
		border-radius: 50%;
		transition: all 0.2s ease-out;
		box-sizing: border-box;

		&:active,
		&:focus {
			outline: none;
		}

		&:checked {
			color: #000;
			border: 7px solid #000;

			& ~ label {
				color: #000;
			}
		}
	}

	&:hover {
		& > input[type='radio']:not(:checked) {
			border-color: #dadada;
		}
	}
}
