$checkout-primary: #e9d2d2;

.checkout {
	font-family: Lato, sans-serif;
	font-size: 14px;
	background-color: $checkout-primary;
	overflow: hidden;
}

//CONTENT
.checkout__content {
	display: flex;
	flex-direction: column-reverse;

	@media (min-width: 992px) {
		& {
			flex-direction: row;
			max-width: 1100px;
			margin: 0 auto;
		}

		& > :first-child {
			max-width: 52%;
			flex: 1 0 52%;
			margin-right: 6%;
		}

		& > :last-child {
			max-width: 42%;
			flex: 1 0 42%;
			padding-left: 4%;
		}
	}
}

.checkout__main {
	padding: 2em 0;
}

.order__expand {
	overflow: hidden;
	height: auto;
	transition: height 0.2s ease-out;
}
