.account {
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 30px;
	}

	&-title {
		font-size: 2.4rem;
		color: #000;
		font-weight: 400;
		margin-top: 16px;
	}

	&-text {
		color: #000;
		font-size: 1em;

		&--small {
			font-size: 0.9em;
		}

		&--blur {
			color: #737373;
		}

		&--bold {
			font-weight: 700;
		}

		&--lg {
			font-size: 1.2em;
		}

		&--wrap {
			word-break: break-all;
		}
	}

	&__col-title {
		font-size: 1.4rem;
		font-weight: 400;
		margin-bottom: 14px;
		color: #000;
	}

	&-link {
		display: inline-block;
		text-decoration: underline;
		margin-top: 14px;

		&:hover {
			color: #000;
		}
	}
}
