.account {
	&-title {
		margin-top: 40px;
		font-size: 2.4rem;
		color: #000;
		font-weight: 400;
		padding-bottom: 16px;
		border-bottom: 1px solid #000;
	}

	&__col-title {
		font-size: 1.3rem;
		font-weight: 400;
		margin-bottom: 14px;
		color: #000;
	}

	&-text {
		color: #000;
		font-size: 1rem;

		&--small {
			font-size: 0.9rem;
		}
	}

	&-link {
		display: block;
		text-decoration: underline;
		margin-top: 14px;

		&:hover {
			color: #000;
		}
	}
}
