@import '~bootstrap/scss/bootstrap';

:root {
	--auth-header-height: 30px;
	--main-header-height: 84px;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

ul {
	padding-left: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

#root {
	position: relative;
}

.main-page {
	margin-top: 110px;
}

@media screen and (min-width: 480px) {
	.container,
	.container-lg {
		padding: 0 30px;
	}
}
