@import '../main';

.checkout-nav__section {
	margin-top: 3em;
	margin-bottom: 3em;
}

.checkout__nav {
	&-btn {
		@include button;
		background-color: #000;
		color: #fff;
		padding-top: 1.3em;
		padding-bottom: 1.3em;
		margin-left: 0;
		font-weight: 600;

		@media (max-width: 767.9px) {
			width: 100%;
		}
	}

	&-link {
		color: #000;
		font-size: 1em;
		text-align: left;
		text-decoration: none;
		vertical-align: middle;

		&:hover {
			color: #000;
			text-decoration: none;
		}

		span {
			vertical-align: middle;
		}
	}
}
